* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
    width: 60%;
}

 /* heaader setup */
.logo-container {
    background-color: deepskyblue;
    background-image: url('../img/pattern.png');
    background-repeat: repeat;
    background-size: 390px;
}

 /* booleaner logo setup */
#logo {
    width: 200px;
    padding: 30px 5px 0;
}

/* main setup */
#author-date {
    color: #a9a9a9;
}

#author {
    color: #0096c7;
}

#date {
    font-size: 10px;
}

h1 {
    margin-bottom: 0;
    font-size: 37px;
}

#photos-description {
    font-size: 10px;
    margin-top: 0;
}

ul {
    padding-left: 15px;
}

/* table setup */
table {
    width: 100%;
    text-align: Left;
    border-collapse: collapse;
}

td {
    width: 1%;
}

th {
    color: #fff;;
}

thead {
    background-color: #0096c7;
}


.table-row {
    background-color: rgb(160, 235, 238);
}




