* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
    width: 60%;
    margin: auto;
}

.logo-container {
    background-color: deepskyblue;
    background-image: url('../img/pattern.png');
    background-repeat: repeat;
}

#logo {
    width: 250px;
    padding: 10px 2px 0;
}

#author {
    color: #0096c7;
}

#date {
    font-size: 10px;
}

h1 {
    margin-bottom: 0;
}

#photos-description {
    font-size: 10px;
    margin-top: 0;
}

ul {
    padding-left: 15px;
}